* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    overflow-y: scroll;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 15px;
    /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
    background-color: white;
    /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Màu thanh cuộn */
    /* border-radius: 5px; Bo góc cho thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
    /* Màu thanh cuộn khi di chuột qua */
}


.header {
    width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    background-color: #202020;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.header .inner-warp {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 60px;
}

.header .inner-warp img {
    width: 160px;
    height: auto;
    margin-right: 10px;
}

.inner-search {
    margin-left: 40px;
    /* position: relative; */

}

#product-list-search {
    max-height: 300px;
    /* Đặt kích thước cố định */
    overflow-y: scroll;
    /* Bật thanh trượt dọc */
}


.product-list-search {
    position: absolute;
    width: 625px;
    max-height: 300px;
    overflow-y: scroll;
    height: auto;
    background-color: #F5F5F5;
    scrollbar-width: thin;
    /* Đặt kích thước của thanh cuộn (thin, auto, etc.) */
    scrollbar-color: #888 #ccc;
    /* Đặt màu cho thanh cuộn (màu nền, màu thanh cuộn) */

    /* Tạo hiệu ứng đẹp cho thanh cuộn trên trình duyệt Chrome và Safari */
    &::-webkit-scrollbar {
        width: 10px;
        /* Đặt chiều rộng của thanh cuộn */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Màu của thanh cuộn */
        border-radius: 4px;
        /* Độ cong của thanh cuộn */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        /* Màu của thanh cuộn khi di chuột qua */
    }
}


.product-list-search .product-1 {

    width: calc(100%-5px);
    background-color: white;
    display: flex;
    padding: 5px 5px;
    border: 1px solid black;
    margin: 5px;
    justify-content: left;
    align-items: center;
    font-size: 16px;
}

.product-list-search .product-1 img {
    width: 80px;
    height: auto;
}

.product-list-search .product-1 div {
    display: flex;
}

.product-list-search .product-1 p {
    margin: 5px;
    color: red;
}

.product-list-search .product-1 p s {
    margin: 5px;
    color: gray;
}

.input-place {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-place input {
    height: 40px;
    width: 625px;
    /* position: relative; */
    border-radius: 2px;
}

.input-place button {
    height: 35px;
    width: 70px;
    position: absolute;
    left: 550px;
    background-color: #202020;
    border-radius: 4px;
}

.input-place button i {
    font-size: 20px;
    color: aliceblue;
}

.inner-menu {
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
}


.inner-menu ul {
    display: flex;
    list-style-type: none;
}

.inner-menu ul li i {
    margin-right: 80px;
    width: 30px;
    height: 30px;
    font-size: 28px;
    color: aliceblue;
    cursor: pointer;
}

.inner-menu .user-menu-false {
    display: none;
    padding: 10px 10px;
    right: -100px;
    width: 400px;
    height: 270px;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid aliceblue;
}


.inner-menu .user-menu-register {
    display: none;
    padding: 10px 10px;
    right: -100px;
    width: 400px;
    height: 370px;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid aliceblue;
}


.inner-menu .user-menu-false .menu-content,
.inner-menu .user-menu-register .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-menu .user-menu-false .menu-content .menu-title div,
.inner-menu .user-menu-register .menu-content .menu-title div {
    font-size: 20px;
    font-weight: 600;
}

.inner-menu .user-menu-false .menu-content .menu-title p,
.inner-menu .user-menu-register .menu-content .menu-title p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-menu .user-menu-false .menu-content .menu-input,
.inner-menu .user-menu-register .menu-content .menu-input {
    display: flex;
    flex-direction: column;
}

.inner-menu .user-menu-false .menu-content .menu-input input,
.inner-menu .user-menu-register .menu-content .menu-input input {
    height: 40px;
    margin-bottom: 10px;
    width: 320px;
    border: 1px solid #e5e5e5;
}

.inner-menu .user-menu-false .menu-content .menu-input button,
.inner-menu .user-menu-register .menu-content .menu-input button {
    width: 320px;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.inner-menu .user-menu-false .menu-content .menu-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-menu .user-menu-false .menu-content .menu-register h5 {
    cursor: pointer;
}


.inner-menu .user-menu-true {
    display: none;
    /* padding: 10px 10px; */
    right: 0px;
    width: 200px;
    height: auto;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid aliceblue;
    /* margin-left: auto;
    margin-right: auto; */
}

.inner-menu .user-menu-true .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-menu .user-menu-true .menu-content .menu-input {
    display: flex;
    flex-direction: column;
}


.inner-menu .user-menu-true .menu-content .menu-input button {
    width: 200px;
    margin-bottom: -1px;
    height: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #e5e5e5;
}

.inner-menu .user-menu-true .menu-content .menu-input button:hover {
    color: white;
    background-color: black;
}












/* ----------------------------------------------------------------------- */

.contaier-1 {
    height: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}








/* ------------------------------------------------------------------ */

.section-one .inner-warp {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.section-one .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}

.section-one .cart-header p {
    border-bottom: 1px solid black;
}

.section-one .cart-body {
    display: flex;
    flex-direction: column;
}

.section-one .cart-body .product-list {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    flex-direction: column;
    margin-bottom: 10px;
}

.section-one .cart-body .product-list .product {
    display: flex;

    margin: 5px 5px;
}

.section-one .cart-body .product-list .product .item-info {
    display: flex;
    width: 50%;
}

.section-one .cart-body .product-list .product .item-info img {
    /* width: 120px; */
    width: 15%;
    height: auto;
}

.section-one .cart-body .product-list .product .item-info h4 {
    /* width: 120px; */
    margin-left: 15px;
    width: 80%;
    height: auto;
}

.section-one .cart-body .product-list .product .item-quantity {
    display: flex;
    width: 25%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.section-one .cart-body .product-list .product .item-quantity .form {
    display: flex;
    border: 1px solid #ccc;
}

.section-one .cart-body .product-list .product .item-quantity .form button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.section-one .cart-body .product-list .product .item-quantity .form input {
    width: 50px;
    height: 35px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    display: flex;
}

.section-one .cart-body .product-list .product .item-quantity p {
    margin-left: 10px;
    cursor: pointer;
}

.section-one .cart-body .product-list .product .item-price {
    display: flex;
    width: 25%;
}

.section-one .cart-body .product-list .product .item-price p {
    color: red;
    font-size: 18px;
    font-weight: 600;
}

.section-one .cart-body .product-list .product .item-price p s {
    margin-left: 5px;
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
}

.section-one .cart-footer .menu-confirm {
    display: flex;
    align-items: end;
    justify-content: end;
}

.section-one .cart-footer .menu-confirm h3 {
    width: 200px;
}

.section-one .cart-footer .menu-confirm p {
    width: 200px;
    font-size: 20px;
    color: red;
    font-weight: 600;
}

.section-one .cart-footer .menu-confirm button {
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}













.section-two .inner-warp {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.section-two .order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}

.section-two .order-header p {
    border-bottom: 1px solid black;
}

.section-two .order-body {
    display: flex;
    flex-direction: column;
}



.section-two .order-body .order-list {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    flex-direction: column;
    margin-bottom: 10px;
}

.section-two .order-body .order-list .product {
    display: flex;

    margin: 20px 5px;
    border-bottom: 2px solid black;

}

.section-two .order-body .order-list .product .item-info {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.section-two .order-body .order-list .product .item-info div {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two .order-body .order-list .product .item-info div img {
    /* width: 120px; */
    padding: 5px 5px;
    width: 100px;
    height: auto;
}

.section-two .order-body .order-list .product .item-info div h4 {
    /* width: 120px; */
    margin-left: 15px;
    width: 400px;
    height: auto;
}

.section-two .order-body .order-list .product .item-price {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two .order-body .order-list .product .item-status {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two .order-body .order-list .product .item-status b {
    margin-left: 10px;
    font-size: 20px;
}















/* ---------------------------------------------------------------------------- */
.inner-nav {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 12px;

}

.inner-nav a {
    margin-right: 50px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}



.footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #202020;
    color: white;
    /* margin-left: auto;
    margin-right: auto; */

}

.footer .ft-top {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 1px solid white;

}

.footer .ft-top .emailPromo {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.footer .ft-top .emailPromo input {
    width: 300px;
    height: 40px;
    border: none;
    font-size: 20px;
}

.footer .ft-top .emailPromo button {
    color: white;
    background-color: #0d0d0d;
    border: none;
    margin-left: -5px;
    height: 44px;
    font-size: 18px;
}

.footer .ft-top .emailPromo button:hover {
    background-color: black;
}

.footer .ft-top .icon {
    display: flex;
    margin-left: 250px;
    /* Di chuyển bắt đầu từ bên trái 300px */
    border: none;
    height: 45px;
    justify-content: space-between;
    /* Khoảng cách đều giữa các biểu tượng */
    width: auto;
}

/* Điều chỉnh margin cho từng nút (button) trong phần icon */
.footer .ft-top .icon button {
    width: 40px;
    margin-left: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    /* Đặt margin về 0 để không còn margin mặc định */
}



.product-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* height: 30%; */
}

.product-price p {
    margin-left: 5px;
    color: red;
    font-size: 16px;
}

.product-price p s {
    color: gray;
    font-size: 14px;
    margin-left: 0px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}


















/* ------------------------------------------------------ */

/* Hiển thị modal khi được kích hoạt */
.modal {
    padding-top: 50px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền với độ mờ */
    z-index: 1;
    overflow: hidden;
}

/* Hiển thị nội dung modal ở giữa trang */
.modal-content-container {
    /* margin-top: 10px; */
    display: flex;
    background-color: #F5F5F5;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    position: relative;
}


.modal-content .content-modal {
    width: 100%;
    display: flex;
    background-color: white;
    border: 1px solid #F5F5F5;

}

.modal-content img {
    width: 50%;
    height: auto;
    padding: 5px 5px;
    background-color: white;
}

.modal-content .content-modal {

    background-color: #F5F5F5;
}

.modal-content .content-modal div {
    padding: 10px 10px;
    /* background-color:#F5F5F5; */
    background-color: white;
    /* align-items: center; */
    /* justify-content: center; */
}

.modal-content .content-modal .desc {
    /* background-color: #288ad6; */
    height: 180px;
}

.modal-content .content-modal .price {
    display: flex;
    /* background-color: aquamarine; */
}

.modal-content .content-modal .price p {
    color: red;
    font-size: 18px;
    margin-right: 10px;
}

.modal-content .content-modal .price p s {
    color: #888;
    font-size: 16px;
}


.modal-content .content-modal h4 {
    height: 40px;
}

.modal-content .content-modal span {
    display: flex;
    height: 40px;
    /* background-color: aqua; */

}

.modal-content .content-modal span .input-product {
    display: flex;
    width: 40%;
    /* border: 2px solid black; */
    border: 1px solid #e1e1e1;
}

.modal-content .content-modal span .input-product input {
    width: 50px;
    border: none;
    /* background: #fff; */
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: black;
}

.modal-content .content-modal span .input-product button {
    border: none;
}

.modal-content .content-modal span button {
    width: 60%;
    /* display: inline; */
    font-size: 15px;
    border: 1px solid #e1e1e1;
    background-color: white;

}

/* ---------------------------------------------------------------- */




/* CSS cho modal */
#productModalSearch {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền với độ mờ */
    z-index: 1;
    overflow: hidden;
}

/* Hiển thị nội dung modal ở giữa trang */
#modal-content-search {
    display: flex;
    background-color: #F5F5F5;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    position: relative;
}

#modal-content-search .content-modal {
    width: 100%;
    display: flex;
    background-color: white;
    border: 1px solid #F5F5F5;
}

#modal-content-search img {
    width: 50%;
    height: auto;
    padding: 5px 5px;
    background-color: white;
}

#modal-content-search .content-modal {
    background-color: #F5F5F5;
}

#modal-content-search .content-modal div {
    padding: 10px 10px;
    background-color: white;
}

#modal-content-search .content-modal .desc {
    height: 180px;
}

#modal-content-search .content-modal .price {
    display: flex;
}

#modal-content-search .content-modal .price p {
    color: red;
    font-size: 18px;
    margin-right: 10px;
}

#modal-content-search .content-modal .price p s {
    color: #888;
    font-size: 16px;
}

#modal-content-search .content-modal h4 {
    height: 40px;
}

#modal-content-search .content-modal span {
    display: flex;
    height: 40px;
}

#modal-content-search .content-modal span .input-product {
    display: flex;
    width: 40%;
    border: 1px solid #e1e1e1;
}

#modal-content-search .content-modal span .input-product input {
    width: 50px;
    border: none;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: black;
}

#modal-content-search .content-modal span .input-product button {
    border: none;
}

#modal-content-search .content-modal span button {
    width: 60%;
    font-size: 15px;
    border: 1px solid #e1e1e1;
    background-color: white;
}

/* CSS cho nút đóng modal */
.close-search {
    position: absolute;
    top: 60px;
    right: 440px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}





/* -------------------------------------------------------------------------- */
/* Nút đóng modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Hiệu ứng hover cho nút đóng */
.close:hover {
    color: #f00;
    /* Màu đỏ khi hover */
}





.footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #202020;
    color: white;
    /* margin-left: auto;
    margin-right: auto; */

}

.footer .ft-top {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 1px solid white;

}

.footer .ft-top .emailPromo {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.footer .ft-top .emailPromo input {
    width: 300px;
    height: 40px;
    border: none;
    font-size: 20px;
}

.footer .ft-top .emailPromo button {
    color: white;
    background-color: #0d0d0d;
    border: none;
    margin-left: -5px;
    height: 44px;
    font-size: 18px;
}

.footer .ft-top .emailPromo button:hover {
    background-color: black;
}

.footer .ft-top .icon {
    display: flex;
    margin-left: 250px;
    /* Di chuyển bắt đầu từ bên trái 300px */
    border: none;
    height: auto;
    justify-content: space-between;
    /* Khoảng cách đều giữa các biểu tượng */
    width: auto;
}

/* Điều chỉnh margin cho từng nút (button) trong phần icon */
.footer .ft-top .icon button {
    width: 40px;
    color: #202020;
    margin-left: 30px;
    border: none;
    background-color: #202020;
    cursor: pointer;
    font-size: 20px;
    /* Đặt margin về 0 để không còn margin mặc định */
}

.footer .ft-top .icon button img{
    width: auto;
    height: 35px;
    /* margin-left: 30px; */
    background-color: #202020;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
    /* Đặt margin về 0 để không còn margin mặc định */
}



.ft-bt-top {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: self-start;
}

.ft-bt-top .ft-introduce {
    width: 33%;
}

.ft-bt-top .ft-introduce img {
    width: 150px;
    height: auto;

}

.ft-bt-top .ft-policy {
    width: 33%;
    padding-left: 50px;
    justify-content: center;
}

.ft-bt-top .ft-policy h2 {
    margin-left: 20px;
}

.ft-bt-top .ft-policy ul li {
    margin-top: 10px;
}

.ft-bt-top .ft-policy ul li:hover {
    color: #288ad6;
}

.ft-bt-top .ft-guide {
    width: 33%;
    justify-content: center;
}

.ft-bt-top .ft-guide h2 {
    margin-left: 20px;
}

.ft-bt-top .ft-guide ul li:hover {
    color: #288ad6;
}

.ft-bt-top .ft-guide ul li {
    margin-top: 10px;
}

.ft-bt-bt {
    display: flex;
    margin-top: 15px;
    background-color: #000;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}

#user img{
    height: 50px;
    width: auto;
}

#gear img{
    height: 50px;
    width: auto;
}

#lup img{
    height: 26px;
    width: auto;
}